{% extends 'core/base.html' %}
{% block content  %}
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 20px;">
<p style="font-family: 'Fredoka', sans-serif; text-align: center; max-width: 800px;">Nube de Vainilla was born from the idea of creating more than just a coffee shop – a warm, inviting space where every guest can feel at home. Inspired by the comforting sweetness of vanilla and the softness of a cloud, our café brings together cozy flavors, homemade pastries, and carefully crafted coffee.

Located in the heart of the city, Nube de Vainilla is the perfect spot to start your morning, take a break in the afternoon, or meet friends in a relaxed and welcoming atmosphere. Whether you come for a quick espresso or to spend time reading, working, or simply enjoying a slice of cake, our doors are always open to you.

At Nube de Vainilla, we believe coffee is more than a drink – it’s an experience, a moment to pause, and a way to connect. Welcome to your new favorite corner of the city.</p>
<img src="https://coffeehero.com.au/cdn/shop/articles/eeddbac154dbaa57571a2012fc3dabd4_2048x2048.jpg?v=1634952384" style="width: 500px; margin-top: 20px;">

</div>
{% endblock %}